---
layout: default
---

<div>
	<h1>Taichi Kato.</h1>
    {% if site.author.so_username %}
	<!-- StackOverflow -->
	<li class="navigation__item">
       <a href="http://stackoverflow.com/users/5486053/{{so_username}}" title="Taichi Kato on Stack Overflow" target="_blank">
          <i class="icon icon-social-stack-overflow"></i>
          <span class="label">Stack Overflow</span>
        </a>
      </li>


    {% if site.author.facebook_username %}
      <!-- Facebook -->
      <li class="navigation__item">
        <a href="http://fb.me/{{ site.author.facebook_username }}" title="{{ site.author.facebook_username }} on Facebook" target="_blank">
          <i class="icon icon-social-facebook"></i>
          <span class="label">Facebook</span>
        </a>
      </li>
    {% endif %}

    {% if site.author.linkedin_username %}
      <!-- LinkedIn -->
      <li class="navigation__item">
        <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank">
          <i class="icon icon-social-linkedin"></i>
          <span class="label">LinkedIn</span>
        </a>
      </li>
    {% endif %}

    {% if site.author.github_username %}
      <!-- GitHub -->
      <li class="navigation__item">
        <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
          <i class="icon icon-social-github"></i>
          <span class="label">GitHub</span>
        </a>
      </li>
    {% endif %}

    {% if site.author.email %}
      <!-- Email -->
      <li class="navigation__item">
        <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
          <i class="icon icon-mail"></i>
          <span class="label">Email</span>
        </a>
      </li>
    {% endif %}
</div>