html{
    font-family: 'Roboto', sans-serif;
}
.title {
  font-size: 3em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333;
  padding-bottom: 0.25em;
}
.about-text {
  padding-left: 0.3em;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a
}
h4 {
  padding-left: 0.5em;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-top: 20px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #4a4a4a;
}
li {
  padding: 0.5em;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #4a4a4a;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 1em 0em;
  border: solid #4a4a4a 2px;
  text-decoration: none;
}
.find_me {
  margin-left: 0.3em;
}

.btn:hover {
  background: #eee;
  text-decoration: none;
}
a {
  font-weight: 700;
}

/* Customize container */
@media (min-width: 1200px) {
  .container {
    max-width: 750px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}